.forecastSection {
  padding: 15px;
  background-color: #d1d4ff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.forecastSection h3 {
  color: #341933;
  font-size: 12px;
}

.forecastWrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.infoWrapper.-forecast {
  background-color: #919ff8;
  border-radius: 30px;
  padding: 15px;
  color: white;
}

.infoWrapper.-forecast span {
  font-size: 10px;
}

.infoWrapper.-forecast img {
  height: 40px;
  width: 40px;
}

.forecastMinTemp {
  color: #341933;
}
