.wheather-info {
  padding: 10px 40px;
  border-radius: 50px;
  background-color: #ced2ff;
  margin-top: 20px;
  color: blue;
}

.wheather-traits {
  display: flex;
  column-gap: 20px;
}
.info-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 3px;
}

.info-wrapper img {
  height: 20px;
  width: 20px;
}
.infowrapper.-third img {
  margin-left: 15px;
}

.info-wrapper span {
  font-size: 14px;
  font-weight: bolder;
}
.info-wrapper p {
  font-size: 10px;
}
